#about > p
{
	float: none;
}

#faq > img
{
	float: left;
	width: 100%;
	background-color: white;
}

#faq
{
	display: inline-block;
	background-color: white;
	width: 100%;
}

#faq-text
{
	float: left;
	padding: 1em;
	padding-top: 1.5em;
}