img 
{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.then-now 
{
  display: flex;
}

.then-now-img1 
{
    flex: 1; 
}

.then-now-img2
{ 
    flex: .8; 
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) 
{
    img 
    {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .then-now 
    {
        display: inline;
    }
}